<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- <bean id="JG" class="com.path.Person"> <property name="id" value="1" 
		/> <property name="name" value="James Gosling" /> </bean> -->

	<!-- <bean id="DR" class="com.path.Person"> <constructor-arg index="0" value="2"/> 
		<constructor-arg index="1" value="Retchie"/> <constructor-arg index="2" ref="Addr"/> 
		</bean> -->

	<!-- <bean id="AK" class="com.path.Person"> <constructor-arg type="int" 
		value="3"/> <constructor-arg type="java.lang.String" value="Kay"/> </bean> -->

	<!-- <bean id="Addr" class="com.path.Address"> <constructor-arg index="0" 
		value="76, Mall Road"/> <constructor-arg index="1" value="Mhow"/> <constructor-arg 
		index="2" value="422441"/> </bean> -->

	<!-- <bean id="DR" class="com.path.Person">
		<constructor-arg index="0" value="4" />
		<constructor-arg index="1" value="Retchie" />
		<constructor-arg>
			<bean class="com.path.Address">
				<constructor-arg index="0" value="76, Mall Road" />
				<constructor-arg index="1" value="Mhow" />
				<constructor-arg index="2" value="422441" />
			</bean>
		</constructor-arg>
	</bean> -->
	
	
	<!-- <bean id="AK" class="com.path.Person">
		<constructor-arg index="0" value="5"/>
		<constructor-arg index="1" value="Kay"/>
		<constructor-arg index="2" ref="Addr"/>
	</bean>
	
	
	<bean id="VIP" class="com.path.VIP" parent="AK">
		<constructor-arg index="3" value="Z+"/>
	</bean> -->
	
	<!-- <bean id="CS" class="com.path.CustomerSell">
		<property name="sell">
			<list>
				<value>Indore</value>
				<value>Delhi</value>
				<value>Pune</value>
				<value>Hyedrabad</value>
			</list>
		</property>
	</bean> -->
	
	<!-- <bean id="CS" class="com.path.CustomerSell">
		<property name="sell">
			<set>
				<value>Indore</value>
				<value>Delhi</value>
				<value>Pune</value>
				<value>Hyedrabad</value>
				<value>Delhi</value>
			</set>
		</property>
	</bean> -->
	
	
	<bean id="VF" class="com.path.VehicleFare">
		<constructor-arg index="0">
			<map>
			  <entry key="car" value="50"/>
			  <entry key="bus" value="120"/>
			</map>
		</constructor-arg>
	</bean>
	
	<bean id="TP" class="com.path.Toll">
		<property name="tollProp">
			<props>
				<prop key="id">07</prop>
				<prop key="name">Mehra</prop>
			</props>
		</property>
	</bean>
	

</beans>